<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="com.companyname.Audio_Hub" 
          android:versionCode="1" 
          android:versionName="1.0">
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
                     android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    
    <!-- Application -->
    <application 
        android:allowBackup="true" 
        android:icon="@mipmap/appicon" 
        android:roundIcon="@mipmap/appicon_round" 
        android:label="@string/app_name" 
        android:supportsRtl="true">
        
        <!-- Music Playback Service -->
        <service 
            android:name="crc64d3814e816e36f4cb.MusicPlaybackService" 
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />
    </application>
</manifest>
